.home-page {
  position: relative;
}

.home-page .quote {
  padding: 20px 35px;
  background: transparent linear-gradient(180deg, #6E4C85 0%, #2D2B52 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-page .show-quote {
  position: absolute;
  top: 100px;
  cursor: pointer;
  right: 40px;
}

.home-page .quote .x-toggler {
  font-weight: bold;
  transition: .3s;
  opacity: .5;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
}

.home-page .quote .x-toggler:hover {
  opacity: 1;
}

.home-page .scroll-container {
  overflow-x: auto;
}

.home-page .container {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  padding-left: 15px;
  overflow: auto;
  min-width: 1100px;
}

.home-page .container::-webkit-scrollbar {
  width: 2px;
}

.home-page .container::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

.home-page .container::-webkit-scrollbar-track {
  background-color: transparent;
}

.home-page .container .tasks-container {
  width: calc(80% / 3)
}