.landing-page {
  display: flex;
}

.landing-page>div {
  width: 50%;
}

.left {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--left-background-color);
  padding: 15px;
  ;
}

.left .logo {
  width: 50%;
  margin: 10px auto;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}