.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent linear-gradient(180deg, #8556A4 0%, #2D2B52 100%);
}

.auth :where(.login, .signup) {
  width: 50%;
  margin: 60px auto 20px;
}

.auth .welcome p {
  font-size: 62px;
  color: white;
}

.auth button {
  background: #B6A3C2 0% 0% no-repeat padding-box;
  border: none;
  outline: none;
  border-radius: 15px;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.auth .switch-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.auth .switch-form button {
  color: white;
  display: inline;
  width: fit-content;
  border-radius: none;
  background: none;
  font-size: 16px;
  text-decoration: underline;
}



@media (max-width:992px) {
  .auth .welcome p {
    font-size: 32px;
  }

  .auth :where(.login, .signup) {
    width: 75%;
    margin: 60px auto 20px;
  }

  .auth .switch-form span {
    font-size: 12px;
  }
}